*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //It is used to fit the content in a box and it will have a border to it
    list-style: none; //It will remove the bullet icons to the list items
}

:root{
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey1: #dbe1e8;
    

}

body {
    font-family: 'Poppins', sans-serif;
}

